main {
    height: 76vh;
    width: 100%;
    background-color: grey;
}

.created-todos {
    display: flex;
    padding: 20px;
    width: 100vh;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2) black;
}

.created-todos * {
    margin: 5px;
}