.todo-item {
    padding: 20px;
    border-radius: 12px;
    background-color: bisque;
}

.todo-item * {
    margin-bottom: 10px;
}

.btnDeleteItem {
    background-color: rgba(139, 0, 0, 1);
    color: white;
    height: 30px;
    width: 60px;
    border-radius: 12px;
}

.btnDeleteItem:hover {
    background-color: rgba(139, 0, 0, 0.7);
}

.btnDeleteItem:active {
    transform: translateY(2px);
}